///// fond noir du footer /////
footer{
  background-color: black;
}
///// fin /////

///// changer la couleur du bouton

///// fin /////

///// texte qui se trouve dans la partie contact /////
.textecontact{
color: white;
padding-top: 30px;
}
///// fin /////

///// class du footer /////
.contact{
padding-top: 30px;
text-align: center;
}
///// fin /////

///// ul qui englobe les liens de contact /////
.listelien{
  margin-left: -35px;
  margin-top: 50px;
  margin-bottom: 50px;
}
///// fin /////

///// lien contact se trouvant dans la div /////
.liencontact{
  list-style: none;
  display: inline-block;
  transition: 2s;
}
///// fin /////

///// responsive portable photo dans lien contact /////
@media (max-width:768px){

.photofooter{
    width: 50px;
    transition: 2s;
    margin-left: 15px;
    margin-right: 15px;
}
}
///// fin /////

///// responsive pc couleur au passage sourie placement contact reseaux /////
@media (min-width:768px){
.liencontactreseau{
  transition: 1s;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 100%;
}
.liencontactreseau:hover{
  transition: 1s;
}

.couleur1contactreseau:hover{
  background-color: #3b5998;
}

.couleur2contactreseau:hover{
  background-color: #1c9ceb;
}

.couleur3contactreseau:hover{
  background-color: #333333;
}
.couleur4contactreseau:hover{
  background-color: #d44937;
}
}
////// fin //////
